<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341457719025-89ats92597vtnklj1rgr2fk7e329hpf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341457719025-89ats92597vtnklj1rgr2fk7e329hpf4</string>
	<key>API_KEY</key>
	<string>AIzaSyDz5rciBoolWd7YpdXfZbJOF48XL1mfcZw</string>
	<key>GCM_SENDER_ID</key>
	<string>341457719025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RNFirebaseStorage</string>
	<key>PROJECT_ID</key>
	<string>rnfirebasestorage-26c9b</string>
	<key>STORAGE_BUCKET</key>
	<string>rnfirebasestorage-26c9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341457719025:ios:747351bb236e29f453e350</string>
	<key>DATABASE_URL</key>
	<string>https://rnfirebasestorage-26c9b.firebaseio.com</string>
</dict>
</plist>